
body {
    max-width: 380px; 
    /* I think that's good for mobile */ 

    /* background image */
    background-image: url('https://i.pinimg.com/originals/a6/ac/92/a6ac9244c02998a5dcce22c324d8d8a4.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 100vh; 

    align-content: center;
    align-items: center;

    margin: 0 auto; 
    padding: 10px; 
    font-family: "Press Start 2P", serif;
    font-size: 0.8em; 
    color: white; 
    

}

nav {
    border: 0px;
    background-color: rgb(147, 170, 174);
    color: rgb(147, 170, 174);
    padding: 3px;
}

/*from google fonts */
.press-start-2p-regular {
    font-family: "Press Start 2P", serif;
    font-weight: 400;
    font-style: normal;
  }

  h1,h2,h3 {
    font-family: "Press Start 2P", serif; 
  }

/*nav barstyle*/ 
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    overflow: hidden;
    border-radius: 5px;
}

.centered-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

table {
    width: 50%; 
    background-color: white;
    border-radius: 5px; 
    border-color: rgb(147,170,174);
    color: #000000;
    align-content: center;
    align-self: center;
    border-radius: 5px; 
    padding: 5px;
    font-size: 0.6em;
    
}

th, td {
    border: 0px solid #000000;
    padding: 5px; 
    text-align: center;
    font-size: 0.7em; /* that should be a smaller font size */
}
